.config-progress-bar-container {
  position: relative;
  height: 20px;
  width: 90%;
  margin: 20px auto;
  padding-bottom: 75px;
}

.config-progress-bar-background {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  position: relative;
}

.config-progress-bar-fill {
  height: 100%;
}

.config-progress-bar-section {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.config-progress-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  opacity: 0.7;
}

.config-progress-labels {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.config-level-label {
  position: absolute;
  top: 5px;
  font-size: 0.9em;
  transition: color 0.3s ease;
  opacity: 0.5;
}

.config-level-label.active {
  opacity: 1;
  font-weight: bold;
}

.config-level-label span {
  display: block;
  text-align: center;
  width: max-content;
}

.config-progress-lines {
  position: absolute;
  top: 0;
  width: 100%;
}

.config-progress-line {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 20px;
  width: 2px;
  background-color: #7e7e7e;
  opacity: 1;
}
